//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.03 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Fri 08 12 16:39:54 2022

IO_LOC "GPIO[7]" 35;
IO_PORT "GPIO[7]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[6]" 34;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[5]" 32;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[4]" 31;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[3]" 27;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[2]" 28;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[1]" 29;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[0]" 30;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8;
IO_LOC "UART_TX" 19;
IO_PORT "UART_TX" PULL_MODE=NONE DRIVE=8;
IO_LOC "UART_RX" 20;
IO_PORT "UART_RX" PULL_MODE=UP;
IO_LOC "crystalClk" 45;
IO_PORT "crystalClk" PULL_MODE=UP;
IO_LOC "resetButton" 15;
IO_PORT "resetButton" PULL_MODE=UP;
